* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLES */
:root{
    --main-bg-color: #306eb5;
    --secondary-bg-color: #9BBFE0;
    --primary-font: "Sono";
    --main-font-color: #ffff;
    --btn-hover-color: #DAE7F2;
    --dark-font-color: #101010;
}
/* GLOBAL */
body{
    background: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: var(--primary-font);
    padding: 3rem 5rem;
}
/* FRONT PAGE */
/* CURRENT WEATHER AND SEARCH */
#search {
  position: relative;
  display: inline-block;
}
#search input {
  padding-left: 28px;
  height: 32px;
}

#search .icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.15s;
}

#search input.has-text + .icon {
  opacity: 0;
}


/*HOURLY FORECAST*/

#hourly-forecast {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    gap: 10px;
    background-color: var(--main-bg-color);
}

.hourly-weather {
    flex: 0 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    min-width: 60px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #9BBFE0;
}

.hourly-weather p:first-child {
    margin-bottom: 5px;
}

.hourly-weather img {
    width: 50px;
    height: 50px;
    background-color: #9BBFE0;
    border-radius: 5px;
    margin-bottom: 5px;
}

.hourly-weather p:last-child {
    font-size: 0.9rem;
}

#precip-today {
    padding: 12px 15px;
    margin: 10px 0;
    text-align: center;
}

@media (max-width: 600px) {
    .hourly-weather {
        min-width: 50px;
        padding: 5px;
    }

    .hourly-weather img {
        width: 45px;
        height: 45px;
        background-color: #9BBFE0;
        border-radius: 5px;
    }

    .hourly-weather p:last-child {
        font-size: 0.8rem;
    }

    #precip-today {
        padding: 8px 12px;
    }
}


/* CLOTHES RECOMMENDATION */

/* CURRENT WEATHER DETAILS */

#extra-information {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    width: 100%;
    margin: 1.5rem 0;
    align-items: stretch;

}

#extra-information .information-box {
    background-color: var(--btn-hover-color);
    color: var(--dark-font-color);
    padding: 1rem;
    border-radius: 5px;
    flex: 1 1 0; 
    min-width: 12rem; 
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (max-width: 600px) {
    #extra-information .information-box {
        flex: 0 0 calc(50% - 0.5rem); 
        min-width: 0;
    }
}

.info-label {
  display: block;      
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
.info-value {
  display: block;      
  font-size: 1rem;
  font-weight: 600;
}


/* 5-DAY FORECAST */



/* USER SETTINGS */

.divider {
    border: none;
    height: 0.25px;
    background-color: var(--secondary-bg-color);
    margin: 1rem 0;
}

#user-settings {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-self: right;
    background-color: #002F64;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fa-xmark {
        cursor: pointer;
        font-size: 1.8rem;
    }
}

#field-name, #field-age, #field-gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#input-name, #input-age, #select-gender {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    float: right;
    width: clamp(200px, 70%, 420px)
}

#location-granted {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 1.5rem;
}

#clothing-preferences {
    background-color: var(--secondary-bg-color);
    padding: 1.5rem 1rem 2rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    color: var(--dark-font-color);

    h2 {
        margin-bottom: 1rem;
    }

    #pref-gender-based, #pref-gender-neutral, #pref-all {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;

        input {
            margin-right: 1rem;
        }
    }
}

#user-status {
    text-align: center;
    padding-bottom: 1rem;
}

#section-actions {
    display: flex;
    justify-content: center;

    #btn-save {
        background-color: var(--main-font-color);
        color: var(--main-bg-color);
        font-weight: 600;
        border: none;
        padding: 0.5rem 1.8rem;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2rem;
        margin-right: 1rem;

    &:hover {
        background-color: var(--btn-hover-color);
    }
}

    #btn-reset {
        background: none;
        border: none;
        color: var(--main-font-color);
        cursor: pointer;

        &:hover {
            color: var(--btn-hover-color);
        }
    }
}

