* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLES */
:root{
    --main-bg-color: #306eb5;
    --secondary-bg-color: #9BBFE0;
    --primary-font: "Sono";
    --main-font-color: #ffff;
    --btn-hover-color: #DAE7F2;
    --dark-font-color: #101010;
}
/* GLOBAL */
body{
    background: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: var(--primary-font);
}
/* FRONT PAGE */

/* USER SETTINGS */

.divider {
    border: none;
    height: 0.25px;
    background-color: var(--secondary-bg-color);
    margin: 1rem 0;
}

#user-settings {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-self: right;
    background-color: #002F64;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fa-xmark {
        cursor: pointer;
        font-size: 1.8rem;
    }
}

#field-name, #field-age, #field-gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#input-name, #input-age, #select-gender {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    float: right;
}

#location-granted {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 1.5rem;
}

#clothing-preferences {
    background-color: var(--secondary-bg-color);
    padding: 1.5rem 1rem 2rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    color: var(--dark-font-color);

    h2 {
        margin-bottom: 1rem;
    }

    #pref-gender-based, #pref-gender-neutral, #pref-all {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;

        input {
            margin-right: 1rem;
        }
    }
}

#section-actions {
    display: flex;
    justify-content: center;

    #btn-save {
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
    font-weight: 600;
    border: none;
    padding: 0.5rem 1.8rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;

    &:hover {
        background-color: var(--btn-hover-color);
    }
}
}

